@charset "utf-8";

:root {
  font-family: "SUITE", sans-serif;
}

.wrap {
  /* border: 2px solid hotpink; */
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.entire {
  /* border: 3px solid blue; */
  position: absolute;
  width: 400vw;
  height: 160vh;
  transition: transform 0.5s ease;
  /* sec1 */
  left: 0;
  top: -60vh;
  /* sec2 */
  /* left: -100vw;
  top: -40vh; */
  /* sec3 */
  /* left: -200vw;
  top: -20vh; */
  /* sec4 */
  /* left: -300vw;
  top: 0; */
}

/* <------------------------ home 영역 ------------------------> */
.home {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../image/sec1.jpg);
  background-size: cover;
  background-position: center;
}
.text_con {
  border: 1px solid white;
  color: white;
  width: 40vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text_con > p {
  font-size: 24px;
  line-height: 1.5;
}
.text_con strong {
  font-weight: 800;
}

.flow_row {
  width: 100vw;
  height: 80px;
  background-color: #4b4b4b50;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  color: #aeaeae50;
  position: absolute;
}
.home .flow_row {
  top: 10vh;
}
.flow_row .flow_txt {
  padding: 0 2rem;
  animation: flow_row 7s linear infinite;
}

.flow_col {
  width: 75px;
  height: 100vh;
  background-color: #4b4b4b50;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  color: #aeaeae50;
  position: absolute;
  top: 0;
  left: 20vw;
}
.flow_col .flow_txt {
  writing-mode: vertical-lr;
  /* transform: rotate(180deg); */
  padding: 2rem 0;
  animation: flow_col 10s linear infinite;
}
.btnSet {
  /* border: 1px solid gray; */
  position: relative;
  top: 0;
  right: 0;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 2rem;
}
.home .btnSet,
.contact .btnSet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn_right,
.btn_left {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  padding: 0.25rem;
}
.btn_right img,
.btn_left img {
  width: 40px;
  height: 40px;
}

/* <------------------------ profile 영역 ------------------------> */

.profile {
  /* border: 1px solid yellow; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 20vh;
  left: 100vw;
  background-image: url(../image/sec2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.page_title {
  background-color: #6f6f6f40;
  width: 25vw;
  height: 50vh;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: right;
  padding: 1rem 2rem;
}

.profile_detail {
  background-color: #fdfbf7;
  max-width: 1200px;
  width: 70%;
  height: 50vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
}
.about {
  margin-bottom: 1rem;
}
.desc {
  padding: 1rem 0;
  line-height: 1.5;
  margin-right: 1rem;
}
.history .desc {
  display: flex;
}
.history .desc > p {
  margin-right: 1rem;
}
.skills {
  /* border: 1px solid red; */
  border-left: 1px solid #949494;
  height: 100%;
  padding-left: 2rem;
  width: 30%;
  min-width: 280px;
  position: relative;
}
.skills_con {
  /* border: 1px solid blue; */
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.skills_con > div {
  /* border: 1px solid aqua; */
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills_con > div:nth-of-type(7),
.skills_con > div:nth-of-type(8) {
  border-bottom: none;
}

.profile .flow_row {
  bottom: 0;
}

/* <------------------------ portfolio 영역 ------------------------> */

.portfolio {
  /* border: 1px solid purple; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 40vh;
  left: 200vw;
  background-image: url(../image/sec3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.portfolio_detail {
  background-color: #fdfbf7;
  max-width: 1200px;
  width: 70%;
  height: 800px;
  padding: 2rem;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pj_detail {
  /* border: 1px solid salmon; */
  width: 40%;
  padding-right: 2rem;
}
.pj_detail h2 {
  margin-bottom: 2rem;
}
.pj_detail .pj_toolSet {
  margin-bottom: 1.5rem;
}
.pj_detail .pj_tool {
  border: 1px solid #aaaaaa;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.pj_detail .pj_desc {
  /* border: 1px solid brown; */
  margin-bottom: 1rem;
  line-height: 1.7;
  font-size: 20px;
}
.pj_link {
  display: flex;
  justify-content: right;
}
.pj_link a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6f6f6f30;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #222;
  margin-left: 1rem;
  /* transition: 0.3s; */
}
.pj_link a:hover {
  background-color: #8cd7d4;
  color: #fdfbf7;
}
.pj_link a:nth-of-type(1):hover::before {
  content: "view";
  font-size: 1rem;
  font-weight: 500;
}
.pj_link a:nth-of-type(2):hover::before {
  content: "code";
  font-size: 1rem;
  font-weight: 500;
}
.pj_link a:hover i {
  display: none;
}

.pj_img {
  /* border: 1px solid lightgreen; */
  width: 60%;
  height: 100%;
  padding: 1rem;
}
.pj_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0.5rem 0.3rem #00000060);
}

.portfolio_detail .swiper-pagination {
  /* border: 1px solid aqua; */
  left: 100%;
  top: auto;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_detail
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #031f1e;
  opacity: 1;
  width: 10px;
  height: 16px;
  border-radius: 40%;
}
.portfolio_detail .swiper-pagination .swiper-pagination-bullet {
  background-color: #8cd7d4;
  opacity: 1;
}

.portfolio .flow_col {
  left: 0;
}

/* <------------------------ contact 영역 ------------------------> */

.contact {
  /* border: 1px solid green; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 60vh;
  left: 300vw;
  background-image: url(../image/sec4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.contact_detail {
  background-color: #fdfbf7;
  max-width: 1000px;
  width: 60%;
  height: 50vh;
  padding: 2rem;
  position: relative;
}
.contact_desc {
  font-size: 1.5rem;
}
.contact_desc .slogan {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact_desc .slogan strong {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}
.contact_desc .contact_txt {
  margin-bottom: 2rem;
  line-height: 1.5;
}
.contact_desc .contact_txt strong {
  font-weight: 700;
}

.contact_desc > div > p {
  margin-bottom: 0.5rem;
}
.contact_desc > div i {
  margin-right: 1rem;
}
.kakao_qr {
  display: flex;
  padding: 0.5rem 0;
}
.kakao_qr img {
  width: 100px;
  height: 100px;
}

.contact .flow_row {
  top: 0;
}

/* <------------------------ 반응형 ------------------------> */
@media (max-width: 1300px) {
  .portfolio .page_title,
  .contact .page_title {
    background-color: #6f6f6f40;
    width: 15vw;
    padding: 1rem;
    writing-mode: vertical-lr;
    rotate: 180deg;
  }
}
@media (max-width: 1000px) {
  .home .text_con > p {
    font-size: 20px;
  }
  .home .flow_col {
    left: 15vw;
  }

  .btnSet {
    margin-left: 0;
  }

  .profile .page_title {
    background-color: #6f6f6f40;
    width: 15vw;
    padding: 1rem;
    writing-mode: vertical-lr;
    rotate: 180deg;
  }
  .profile_detail {
    flex-direction: column;
    font-size: 15px;
  }
  .detail_left {
    display: flex;
  }
  .detail_left .about {
    width: 50%;
    margin-bottom: 0;
  }
  .detail_left .history {
    width: 50%;
    height: fit-content;
  }
  .skills {
    padding-left: 0;
    border-left: none;
    width: 100%;
  }
  .skills_con {
    width: 100%;
    margin-top: 1rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .skills_con > div {
    border-bottom: none;
    width: 12%;
    max-width: 50px;
  }
  .skills_con > div > p {
    font-size: 12px;
  }
  .skills_con img {
    width: 100%;
  }
  .skills_con p {
    display: none;
  }

  .portfolio {
    justify-content: flex-end;
  }

  .portfolio .page_title {
    display: none;
  }
  .portfolio_detail::before {
    content: "PORTFOLIO";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6f6f6f95;
    color: white;
    padding: 0 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    transform: translateY(-100%);
  }
  .swiper-slide {
    flex-direction: column;
  }
  .swiper-slide > * {
    width: 100%;
  }
  .portfolio .pj_detail {
    padding-right: 0;
  }
  .portfolio .pj_img {
    flex: 1;
    height: 300px;
    padding: 1rem 0;
  }
  .portfolio .pj_desc {
    font-size: 1rem;
  }

  .contact_desc {
    font-size: 20px;
  }
  .contact_desc .slogan {
    font-size: 1.5rem;
  }
  .contact_desc .slogan strong {
    font-size: 2.5rem;
  }
}

@media (max-width: 680px) {
  .btnSet {
    padding: 0 1rem;
  }
  .profile .btnSet {
    padding: 0 0.5rem;
  }

  .profile {
    justify-content: center;
  }
  .profile .page_title {
    display: none;
  }
  .profile_detail {
    width: 80%;
    height: fit-content;
    margin-left: 1rem;
  }
  .profile_detail::before,
  .contact_detail::before {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6f6f6f95;
    color: white;
    padding: 0 0.5rem;
    font-weight: 600;
    transform: translateY(-100%);
  }
  .profile_detail::before {
    content: "PROFILE";
  }
  .detail_left {
    display: block;
  }
  .profile .about,
  .profile .history {
    font-size: 14px;
    width: 100%;
  }
  .history .desc {
    display: block;
  }
  .history .desc > p:first-of-type {
    margin-bottom: 0.5rem;
  }
  .skills_con p {
    display: none;
  }

  .portfolio_detail::before {
    font-size: 2rem;
  }
  .portfolio .flow_col {
    display: none;
  }

  .contact {
    justify-content: center;
  }
  .contact .page_title {
    display: none;
  }
  .contact .contact_detail {
    height: fit-content;
  }
  .contact_detail::before {
    content: "CONTACT";
  }
  .contact_desc {
    font-size: 1rem;
  }
  .contact_desc .slogan {
    font-size: 20px;
  }
  .contact_desc .slogan strong {
    font-size: 1.5rem;
  }
  .kakao_qr img {
    width: 60%;
    max-width: 80px;
    height: auto;
  }
}

@media (max-width: 630px) {
  .home .text_con {
    padding: 2rem 1rem;
  }
  .home .text_con > p {
    font-size: 1rem;
  }
  .home .flow_col {
    left: 0;
  }
}

@media (max-width: 430px) {
  .skills_con {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-auto-rows: auto;
    gap: 2px;
    padding: 0;
    width: fit-content;
  }
  .skills_con > div {
    width: 100%;
  }
}

@keyframes flow_row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes flow_col {
  0% {
    transform: translateY(-100%) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}
